@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --HEADER-BG: linear-gradient(0deg, #ff6c20, #ff6c20), #ffffff;
  --HEADER-COLOR: #ffffff;

  /* line hieght */
  --LINE-HIEGHT: 1.7;

  /* fonts */
  --logo-fs: 1rem;
  --logo-fw: bolder;
  /* shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 20px 15px -3px rgba(0, 0, 0, 0.027),
    0 4px 6px -2px rgba(0, 0, 0, 0.212);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.bloq-container {
  position: relative;
  width: 100%;
  height: 2940px;
  background: #fafafa;
}

.nav .resgister {
  display: none;
}

.nav .nav-container {
  gap: 400px;
}

.bloq-content {
  margin: auto 57px;
  position: absolute;
  width: 1234px;
  height: 2320px;
  /* left: 102px; */
  top: 176px;
  align-items: center;
}

.bloq-content h1 {
  position: absolute;
  width: 110px;
  height: 24px;
  left: 580px;
  text-align: center;
  /* margin: auto 550px; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #666666;
}

.bloq-content .bloq-heading {
  position: absolute;
  width: 728px;
  height: 64px;
  left: calc(50% - 728px / 2);
  top: 70px;
  font-family: 'Outfit' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
}

.bloq-content .bloq-paragraph {
  position: relative;
  width: 756px;
  height: 48px;
  left: calc(50% - 756px / 2);
  top: 170px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: center;

  color: #666666;
}

/* .bloq-content .bloq-grids {
  display: flexbox;  
  gap: 30px;
  position: absolute;
} */

.bloq-content .bloq-grids .bloq-grid1 {
  /* Group 237771 */
  position: absolute;
  width: 31.8%;
  height: 640px;
  /* left: 104px; */
  top: 340px;
}

.bloq-grids .bloq-grid1 .bloq-img-container1 {
  /* Image Placeholder */

  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid1 .bloq-img-container1 .bloq-img1 img {
  /* Container */
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid1 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid1 .bloqs-texts h5 {
  width: 20%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid1 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  top: 40px;
  color: #999999;
}

.bloq-grids .bloq-grid1 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid1 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid1 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid1 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid2 {
  /* Group 237770 */

  position: absolute;
  width: 31.8%;
  height: 627px;
  left: 422px;
  top: 340px;
}

.bloq-grids .bloq-grid2 .bloq-img-container2 {
  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid2 .bloq-img-container2 .bloq-img2 img {
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid2 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid2 .bloqs-texts h5 {
  width: 25%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid2 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid2 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid2 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid2 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid2 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid3 {
  /* Group 237769 */

  position: absolute;
  width: 31.8%;
  height: 627px;
  left: 842px;
  top: 340px;
}

.bloq-grids .bloq-grid3 .bloq-img-container3 {
  /* Image Placeholder */

  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid4 .bloq-img-container3 .bloq-img3 img {
  /* Container */

  position: absolute;
  width: 100%;
  height: 360px;
  left: 0px;
  top: 0px;

  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid3 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid3 .bloqs-texts h5 {
  width: 20%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid3 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid3 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid3 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid3 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid3 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid4 {
  /* Group 237768 */
  position: absolute;
  width: 31.8%;
  height: 630px;
  /* left: 102px; */
  top: 1020px;
}

.bloq-grids .bloq-grid4 .bloq-img-container4 {
  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid4 .bloq-img-container4 .bloq-img4 img {
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid4 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid4 .bloqs-texts h5 {
  width: 20%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid4 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid4 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid4 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid4 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid4 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid5 {
  /* Group 237767 */

  position: absolute;
  width: 31.8%;
  height: 630px;
  left: 422px;
  top: 1020px;
}

.bloq-grids .bloq-grid5 .bloq-img-container5 {
  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid5 .bloq-img-container5 .bloq-img5 img {
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid5 .bloqs-texts {
  position: absolute;
  display: flex;
  top: 360px;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid5 .bloqs-texts h5 {
  width: 25%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid5 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid5 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid5 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid5 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid5 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid6 {
  /* Group 237766 */

  position: absolute;
  width: 31.8%;
  height: 630px;
  left: 842px;
  top: 1020px;
}

.bloq-grids .bloq-grid6 .bloq-img-container6 {
  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid6 .bloq-img-container6 .bloq-img6 img {
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid6 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid6 .bloqs-texts h5 {
  width: 20%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid6 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid6 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid6 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid6 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid6 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid7 {
  /* Group 237765 */

  position: absolute;
  width: 31.8%;
  height: 630px;
  /* left: 104px; */
  top: 1690px;
}

.bloq-grids .bloq-grid7 .bloq-img-container7 {
  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid7 .bloq-img-container7 .bloq-img7 img {
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid7 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid7 .bloqs-texts h5 {
  width: 20%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid7 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid7 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid7 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid7 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid7 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid8 {
  /* Group 237764 */

  position: absolute;
  width: 31.8%;
  height: 630px;
  left: 422px;
  top: 1690px;
}

.bloq-grids .bloq-grid8 .bloq-img-container8 {
  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid8 .bloq-img-container8 .bloq-img8 img {
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid8 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid8 .bloqs-texts h5 {
  width: 25%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid8 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid8 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid8 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid8 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid8 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.bloq-content .bloq-grids .bloq-grid9 {
  /* Group 237763 */

  position: absolute;
  width: 31.8%;
  height: 630px;
  left: 842px;
  top: 1690px;
}

.bloq-grids .bloq-grid9 .bloq-img-container9 {
  position: absolute;
  width: 100%;
  height: 360px;
}

.bloq-grid9 .bloq-img-container9 .bloq-img9 img {
  position: absolute;
  width: 100%;
  height: 360px;
  background: no-repeat, #cce9ff;
  border-radius: 16px;
}

.bloq-grids .bloq-grid9 .bloqs-texts {
  position: absolute;
  top: 360px;
  display: flex;
  width: 100%;
  height: 43.7%;
}

.bloq-grids .bloq-grid9 .bloqs-texts h5 {
  width: 20%;
  height: 6%;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  position: relative;
  top: 40px;
}

.bloq-grids .bloq-grid9 .bloqs-texts p {
  /* 13 March 2023 */
  height: 6%;
  position: relative;
  width: 30%;
  top: 40px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #999999;
}

.bloq-grids .bloq-grid9 .bloqs-texts .bloq-subhead {
  /* Train Or Bus Journey?Which one suits? */

  position: absolute;
  width: 100%;
  height: 62px;
  top: 70px;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #333333;
}

.bloq-grids .bloq-grid9 .bloqs-texts .paragraph {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 50%;
}

.bloq-grid9 .bloqs-texts .paragraph .span {
  position: absolute;
  width: 400px;
  height: 72px;

  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #666666;
}

.bloq-grid9 .bloqs-texts .paragraph .alink a {
  position: absolute;
  width: 30%;
  height: 27px;
  /* left: 104px; */
  top: 110px;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-decoration-line: underline;

  color: #ff6c20;
}

.footer .container {
  top: 2570px;
}
