@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'outfit';
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --HEADER-BG: linear-gradient(0deg, #ff6c20, #ff6c20), #ffffff;
  --HEADER-COLOR: #ffffff;

  /* line hieght */
  --LINE-HIEGHT: 1.7;

  /* fonts */
  --logo-fs: 1rem;
  --logo-fw: bolder;
  /* --font-family: 'Outfit'; */

  /* shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 20px 15px -3px rgba(0, 0, 0, 0.027),
    0 4px 6px -2px rgba(0, 0, 0, 0.212);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.home-container {
  background-color: #fff;
}

.navbar {
  text-align: center;
  position: fixed;
  padding: 2rem 3rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--HEADER-BG);
  width: 100%;
  height: 80px;
  top: 0px;
  gap: 10px;
  box-shadow: var(--shadow-3);
  z-index: 999;
}

.nav-container {
  gap: 18rem;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.nav-links {
  align-content: first baseline;
  display: flex;
  gap: 2.3rem;
}

.nav-links a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--HEADER-COLOR);
  cursor: pointer;
  font-family: 'Outfit';
}

.nav-links li {
  list-style-type: none;
}

.user-container {
  padding-right: 25px;
  width: 400px;
  display: flex;
  gap: 1.5rem;
}

.user-container .btn {
  padding: 0.55rem 1.4rem;
  color: var(--HEADER-COLOR);
  background-color: var(--HEADER-BG);
  border: 1px solid var(--HEADER-COLOR);
  border-radius: 20px;
  font-family: 'Outfit';
  width: 110%;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  font-weight: 300;
  /* display: inline-block; */
  box-shadow: var(--shadow-4);
  cursor: pointer;
}

.user-container .login {
  padding: 0.55rem 2rem;
  background-color: var(--HEADER-COLOR);
  color: #ff6c20;
}

.user-container .logout {
  padding: 0.55rem 1rem;
  width: 120px;
  background-color: var(--HEADER-COLOR);
  color: #ff6c20;
}

.logo {
  position: relative;
  display: flex;
  gap: 0.5rem;
}

.logo img {
  position: relative;
  width: 50%;
  height: 1.9rem;
}

.logo h4 {
  line-height: var(--LINE-HIEGHT);
  color: var(--HEADER-COLOR);
  font-weight: var(--logo-fw);
  font-size: var(--logo-fs);
  font-family: 'Outfit';
}

.heropage-container {
  background: var(--HEADER-BG);
  position: absolute;
  width: 100%;
  height: 44vw;
  left: 0px;
  top: 80px;
}

.heropage-container .aside_container {
  width: 55%;
  position: absolute;
  left: 608px;
  top: 60px;
  height: 90%;
}

.device img {
  position: relative;
  width: 100%;
  height: 80%;
}

.heropage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 586px;
  height: 453.18px;
  left: 124px;
  top: calc(50% - 453.18px / 2 + 12px);
}

.heropage-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 586px;
  height: 300.18px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.heropage-text h1 {
  width: 528.54px;
  /* height: 180.5px; */
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--HEADER-COLOR);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.herotext p {
  width: 574.59px;
  flex: none;
  line-height: 1.4rem;
  order: 1;
  font-size: 1rem;
  flex-grow: 0;
  font-family: 'Poppins';
  /* font-family: 'outfit'; */
  font-weight: 400;
  color: var(--HEADER-COLOR);
}

.heropage .buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  font-family: 'Outfit';
  width: 288px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn {
  padding: 0.8rem 2rem;
  color: var(--HEADER-COLOR);
  background-color: var(--HEADER-BG);
  border: 1px solid var(--HEADER-COLOR);
  border-radius: 20px;
  /* width: 110%; */
  font-size: 0.8rem;
  font-family: 'Outfit';
  letter-spacing: 0.9px;
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  font-weight: 300;
  /* display: inline-block; */
  box-shadow: var(--shadow-4);
}

.login {
  padding: 0.8rem 1.6rem;
  background-color: var(--HEADER-COLOR);
  color: #ff6c20;
}
/* 
.earth img {
  position: absolute;
  width: 696px;
  height: 300.21px;
  left: 646px;
  top: 40px;
  opacity: 0.6;
} */
/* 
.section-partners-container .section-partners {
  position: relative;
  height: 250px;
  width: 100%;
  background-color: darkblue;
} */

.section-partners {
  text-align: center;
  position: relative;
  background-color: #fff;
  /* width: 1440px; */
  height: max-content;
  padding-bottom: 30px;
  left: 0px;
  top: 680px;
}

.content {
  gap: 0;
  text-align: center;
}

.content p {
  color: #030616;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'poppins';
  align-content: center;
  text-align: center;
  padding-top: -10px;
  position: relative;
  /* width: 30%; */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content h2 {
  letter-spacing: 0.1rem;
  font-family: 'Outfit';
  font-size: 2.3rem;
  font-weight: 700;
}

.partners-placeholder img {
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 1180px;
  height: 48px;
  left: 85px;
  top: 123px;
}

.features-content h2 {
  font-family: 'outfit';
  font-size: 2rem;
  background-color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  top: 90.44px;
}

.features-sector {
  position: relative;
  height: 600px;
  left: 0px;
  top: 790px;
  background: #ffffff;
}

.sectors-content {
  width: 50%;
  position: absolute;
  display: block;
  left: 125px;
}

.saving-header {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.46rem 1.5rem;
  /* left: 88px; */
  letter-spacing: 0.11rem;
  top: 80px;
  background: #ffe7da;
  border-radius: 40px;
}

.sector-logo img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  /* gap: 6px; */

  position: absolute;
  width: 280px;
  height: 122.84px;
  /* left: 85px; */
  top: 144px;
}

.introduce-sector {
  align-items: flex-start;
  position: absolute;
  width: 666.05px;
  height: 170.44px;
  /* left: 95px; */
  top: 304.72px;
}

.introduce-sector p {
  font-family: 'poppins';
}

.sector-device img {
  position: relative;
  width: 530px;
  height: 605px;
  left: 750px;
  bottom: 5px;
}

.introduce-sector button {
  margin-top: 20px;
  padding: 0.8rem 1.5rem;
  background: var(--HEADER-BG);
  font-family: 'Outfit';
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 330px 90px;
  width: 100%;
  position: relative;
  height: 599px;
  top: 790px;
  background: var(--HEADER-COLOR);
}

.image-block {
  /* margin: 0px 2200px 0px 0px; */
  width: 505px;
  height: 500px;
  /* padding: 50px; */
  background: #fff2ec;
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image-block img {
  position: absolute;
  margin: 104px 75px;
  width: 27%;
  height: 60%;
}

.block-content {
  margin: 30px auto;
  position: absolute;
  left: 770px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  /* margin: 0 auto; */
  width: 450px;
  height: 550px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: var(--HEADER-COLOR);
}

.section-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 40px;
  width: 410px;
  height: 420px;
  flex: none;
  /* gap: 15px; */
  order: 0;
  flex-grow: 0;
  background-color: #ffffff;
}

.section-header span {
  position: relative;
  margin: 0;
  top: 0;
  font-size: 1.4rem;
}

.section-img img {
  position: relative;
  align-items: flex-start;
  width: 90%;
  height: 85%;
  padding: 0px;
  top: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.section-content {
  width: 481px;
  height: 200px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.section-content p {
  font-family: 'poppins';
}

.section-header button {
  border: 1px solid var(--HEADER-BG);
  margin-top: 20px;
  padding: 0.8rem 1.5rem;
  background: var(--HEADER-BG);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loan-sector {
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0px;
  top: 2220px;
}

.loan-sector .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 96px;
  position: absolute;
  width: 1224px;
  height: 540px;
  left: calc(50% - 1224px / 2);
  top: 50px;
}

.loan-sector .inner .loan-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 480px;
  height: 540px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.loan-sector .inner .loan-img {
  width: 648px;
  height: 510px;
  border-radius: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.loan-sector .inner .loan-content span {
  position: relative;
  text-align: center;
  padding: 0.5rem 1.8rem;
  /* width: 267px;
height: 69px; */
  background: #ffe7da;
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'outfit';
  font-size: 1.6rem;
  font-weight: 700;
}

.loan-sector .inner .loan-content .loan-icons img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 306px;
  height: 200px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.loan-sector .inner .loan-content .loan-text p {
  position: relative;
  font-family: 'poppins';
  width: 420px;
  line-height: 1.3rem;
  height: 200px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.loan-sector .inner .loan-content .btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  width: 136.8px;
  height: 45px;
  border: #ff6c20;
  background: #ff6c20;
  border-radius: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.refers {
  position: absolute;
  width: 1220px;
  height: 360px;
  margin: auto 70px;
  top: 2860px;
  background: #fadac9;
  border-radius: 20px;
}

.refers .refer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 602px;
  height: 219.08px;
  left: 67px;
  top: 74px;
}

.refers .refer-content .refer-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;

  width: 602px;
  height: 142.08px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.refers .refer-content .refer-text h2 {
  width: 485.81px;
  height: 37.76px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.refers .refer-content .refer-text p {
  width: 578.51px;
  height: 91.32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.refers .refer-content .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 136.8px;
  height: 45px;
  border: #ff6c20;
  background: #ff6c20;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.refers .refer-gift img {
  position: absolute;
  width: 219.37px;
  height: 234px;
  left: 926px;
  top: calc(50% - 234px / 2);
}

.africa-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 100px 0px;
  gap: 2px;
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0px;
  top: 3280px;
  background: #ffffff;
}

.africa-container .africa-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 95%;
  gap: 20px;
  background-color: #ffffff;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.africa-container .africa-content .africa-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px;
  gap: 20px;
  width: 496px;
  height: 100%;
  background-color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.africa-container .africa-content .africa-text .africa-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 2px 0px 0px;
  gap: 15px;
  width: 496px;
  height: 206.98px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background-color: #ffffff;
}

.africa-container .africa-content .africa-text .africa-header h2 {
  width: 250px;
  height: 74.48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.africa-container .africa-content .africa-text .africa-header p {
  width: 479.37px;
  height: 108.5px;
  color: #555555;
  background-color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.africa-container .africa-content .africa-text .africa-lorem {
  width: 496px;
  height: 30%;
  flex: none;
  order: 1;
  display: block;
  align-self: stretch;
  flex-grow: 0;
}

.africa-content .africa-text .africa-lorem .africa-text-icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 496px;
  height: 36px;
  left: 0px;
  margin-top: 5px;
  top: 0px;
}

.africa-text .africa-lorem .africa-text-icon p {
  width: 388.41px;
  height: 22.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.africa-text .africa-lorem .africa-text-icon img {
  width: 37px;
  height: 37px;
  border: 1px solid #ddd;
  background: url(../images/Africa/Icon.png) #ddd;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.africa-container .africa-content .africa-img img {
  position: relative;
  width: 98%;
  height: 100%;
  left: 25px;
  background-color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 60px;
  position: absolute;
  width: 100%;
  height: 306px;
  left: 0px;
  top: 3950px;
  background: #ffffff;
}

.stats-container .stats-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 1232px;
  height: 210px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.stats-container .stats-content .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px;
  gap: 16px;
  width: 272px;
  height: 210px;
  flex: none;
  order: 2;
  flex-grow: 1;
}

.stats-container .stats-content .stats .icon-system img {
  width: 58px;
  height: 58px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stats-container .stats-content .stats h3 {
  width: 76px;
  height: 44px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #222222;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.stats-container .stats-content .stats p {
  width: 207px;
  height: 28px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #555555;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.custormer-feed {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 570px;
  left: 0px;
  top: 4310px;

  background: #ff6c20;
  border-bottom: 1px solid #ebebeb;
}

.custormer-feed .custormer-content {
  position: absolute;
  width: 1162px;
  height: 343px;
  left: calc(50% - 1162px / 2);
  top: 165px;
  color: var(--HEADER-COLOR);
}

.custormer-content .custormer-rating {
  position: absolute;
  width: 450px;
  height: 291.11px;
  left: 0px;
  top: 22.39px;
}

.custormer-rating .heading {
  position: absolute;
  height: 104px;
  left: 0px;
  right: 0px;
  top: 0px;
}

.heading h2 {
  position: relative;
  width: 70%;
  height: 90.54px;
  left: 0.92px;
  top: 9.5px;
  font-size: 1.8rem;
}

.custormer-rating p {
  position: absolute;
  width: 98%;
  height: 45.41px;
  left: 0.23px;
  top: 120.29px;
}

.custormer-rating .min {
  position: relative;
  font-size: 1.3rem;
  width: 63.55px;
  height: 18.99px;
  left: 2.16px;
  top: 200.14px;
}

.custormer-rating .happy {
  position: relative;
  width: 23%;
  height: 8%;
  left: 1.24px;
  top: 210px;
}

.custormer-rating .over {
  position: absolute;
  width: 49.58px;
  height: 10%;
  left: 160.7px;
  top: 202.04px;
  font-size: 1.3rem;
}

.custormer-rating .over-rate {
  position: relative;
  width: 23%;
  height: 8%;
  left: 160.87px;
  top: 185px;
}

.custormer-rating .stars {
  position: absolute;
  width: 78px;
  height: 10px;
  left: 160px;
  top: calc(48% - 10px / 2 + 140.55px);
  border: #ff6c20;
  background: url(../images/stars/stars.png);
}

.custormer-content .custormer-res {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-start;
  padding: 0px;
  gap: 19px 25px;
  position: absolute;
  width: 600.59px;
  height: 343.38px;
  left: 576px;
  top: 0px;
}

.custormer-res .cus-slide {
  width: 600.59px;
  height: 260px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.custormer-res .cus-slide .div-avatar {
  width: 16%;
  height: 92px;
  position: absolute;
  flex: none;
  order: 0;
  top: 10px;
  flex-grow: 0;
  border: none;
  background: url(../images/avatar/test1.png.svg) no-repeat;
}

.cus-slide .name {
  position: relative;
  width: 173.91px;
  height: 14.44px;
  left: 115px;
  top: 20px;
}

.cus-slide .occupa {
  position: relative;
  width: 52.9px;
  height: 11.4px;
  left: 115px;
  top: 35px;
}

.custormer-res .cus-slide .svg {
  position: relative;
  width: 40px;
  height: 40px;
  left: 541px;
  top: calc(40% - 44px / 2 - 102.21px);

  background: url(../images/avatar/SVG.png) no-repeat;
}

.cus-slide .cus-comment {
  position: absolute;
  font-size: 1rem;
  line-height: 1.2rem;
  width: 533.94px;
  height: 100px;
  left: 15.46px;
  top: 130.16px;
}

.cus-slide .btn-div {
  display: flex;
  position: relative;
  gap: 10px;
}

.cus-slide .btn {
  box-sizing: border-box;
  width: 60px;
  height: 40px;
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 40px;
  flex: none;
  order: 1;
  top: 220px;
  flex-grow: 0;
  align-items: center;
}

.news-container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 350px;
  top: 4879px;
  background: #fff2eb;
  border-radius: 20px;
}

.news-container .news-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;

  position: absolute;
  width: 928.29px;
  height: 161.24px;
  left: 220px;
  top: 93px;
}

.news-content h1 {
  text-align: center;
  width: 210px;
  height: 40px;
  align-items: end;
  margin-top: -82px;
  color: #ff6c20;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.news-content .news {
  width: 928.29px;
  height: 23.37px;
  flex: none;
  color: #555555;
  order: 1;
  flex-grow: 0;
}

.news-content .news-email {
  margin-bottom: -71px;
  box-sizing: border-box;
  width: 715px;
  height: 56px;
  background: #ffffff;
  border: 2px solid rgba(45, 45, 45, 0.2);
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.news-email input {
  box-sizing: border-box;
  background: #ffffff;
  width: 710px;
  font-size: 1.2rem;
  color: #222222;
  align-items: center;
  padding: 0px 19px;
  left: 0px;
  top: 0px;
  border: none;
  height: 52px;
  border: rgba(45, 45, 45, 0.2);
  border-radius: 8px;
}

.news-email input::placeholder {
  text-align: justify;
  font-size: 1rem;
  padding-left: 20px;
}

.news-container .news-email .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  position: absolute;
  width: 145.62px;
  height: 53px;
  left: 674px;
  margin-top: -52.5px;
  background: #ff6c20;
  border-radius: 6px;
}

.faq-container {
  position: absolute;
  width: 1235px;
  height: 600px;
  margin: auto 55px;
  top: 5229px;
}

.faq-container .faq-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  top: 20px;
  gap: 30px;
  position: absolute;
  /* width: 1235px;
height: 694px; */
  left: 0px;
}

.faq-content .faq-heading h1 {
  width: 503.5px;
  height: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.faq-content .faq-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1235px;
  height: 414px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.faq-content .faq-texts .faq-text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 1235px;
  height: 192px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.faq-texts .faq-text1 .faq-para1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px 10px 5px;
  gap: 585px;

  width: 1235px;
  height: 44px;

  border-bottom: 1px solid #e2e2e2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.faq-texts .faq-text1 .faq-para2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 5px;
  gap: 228px;
  width: 1235px;
  height: 44px;

  border-bottom: 1px solid #e2e2e2;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.faq-para2 p {
  width: 944.73px;
  height: 25px;
  flex: none;
  font-size: 1.05rem;
  order: 0;
  flex-grow: 0;
}

.faq-para1 p {
  text-transform: capitalize;
  width: 589.79px;
  height: 25px;
  font-size: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.faq-texts .faq-text1 .faq-para1 .faq-icon {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.faq-texts .faq-text1 .faq-para2 .faq-icon2 {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.faq-content .faq-texts .faq-text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 1235px;
  height: 192px;
  background-color: gainsboro;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.block-cta {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 80%;
  left: 0px;
  top: 5880px;
}

.block-cta .block-cta-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 96px 130px;
  gap: 24px;
  position: absolute;
  width: 50%;
  height: 100%;
  min-height: 100%;
  background: #ff6c20;
  border-radius: 0px 0px 120px 0px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.block-cta-content .block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 460px;
  height: 161.72px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.block-cta-content .block-text h1 {
  width: 389.68px;
  height: 105.24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.block-cta-content .block-text p {
  width: 428.26px;
  height: 48.48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.block-cta-content .block-store {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 376px;
  height: 53.33px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.block-cta-content .block-store .app-store {
  width: 180px;
  height: 53.33px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.block-cta-content .block-store .play-store {
  width: 180px;
  height: 53.33px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.block-cta .block-img {
  position: absolute;
  background: url(../images//Stores/basic.png) no-repeat;
  width: 50%;
  height: 100%;
  min-height: 100%;
  left: 675px;
  border-radius: 120px 0px 0px 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 130px;
  gap: 24px;

  position: absolute;
  width: 100%;
  height: 370px;
  left: 0px;
  top: 6475px;

  background: #0d0d0d;
}

footer .footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  position: relative;
  right: 50px;
  width: 1180px;
  height: 114px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

footer .footer-content .footer-company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 580px;
  height: 92px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.footer-content .footer-company-info .logo-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 170px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-company-info .logo-dark h4 {
  width: 87px;
  height: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 17.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-content .footer-company-info p {
  width: 411px;
  height: 44px;
  /* font-family: 'Poppins'; */
  font-family: 'outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

footer .footer-content .footer-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 580px;
  height: 114px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.footer-navigation .col-menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 180px;
  height: 114px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.footer-navigation .col-menu-item a {
  width: 180px;
  height: 22px;
  text-decoration: none;
  /* font-family: 'Poppins'; */
  font-family: 'outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.footer-navigation .col-menu-item2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 180px;
  height: 68px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.footer-navigation .col-menu-item2 a {
  width: 180px;
  height: 22px;
  text-decoration: none;
  /* font-family: 'Poppins'; */
  font-family: 'outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.footer-navigation .social-media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  justify-content: space-around;
  padding: 0px;
  gap: 18px;
  width: 180px;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.footer-navigation .social-media .icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  justify-content: space-around;
  padding: 0px;
  width: 50px;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.footer-navigation .social-media .icon img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #ff6c20;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

footer .footer-divider {
  width: 1180px;
  position: relative;
  opacity: 0.3;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  right: 50px;
}

.footer-divider span {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 1px solid #cdd5e0;
}

footer .footer-footnote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  position: relative;
  width: 1180px;
  height: 16px;
  right: 50px;
  flex: none;
  order: 2;
  /* align-self: stretch; */
  flex-grow: 0;
}

footer .footer-footnote .links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 221px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-footnote .links a {
  width: 83px;
  height: 16px;
  /* font-family: 'Poppins'; */
  font-family: 'outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-footnote .links .a {
  width: 98px;
  height: 16px;
  /* font-family: 'Poppins'; */
  font-family: 'outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

footer .footer-footnote p {
  width: 95px;
  height: 16px;
  position: relative;
  /* font-family: 'Poppins'; */
  font-family: 'outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
